audio/bgm/
audio/bgs/
audio/me/
audio/se/

img/animations/
img/battlebacks1/
img/battlebacks2/
img/characters/
img/enemies/
img/faces/
img/parallaxes/
img/pictures/
img/sv_actors/
img/sv_enemies/
img/system/
img/tilesets/
img/titles1/
img/titles2/
